html, body {
    background-image: url('/main.jpg');
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size:cover;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.363);
    margin-top: .8%;
}

/* title */
.main-title {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    max-width: 20rem;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #14306b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Style for sidenav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bdbdbd;
    display: block;
    transition: 0.3s;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-family: "Sofadi One", system-ui;
    font-size: 2rem;

}

/* Style for close button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Change color on hover */
.sidenav a:hover {
    color: #b6eaff;
}

/* Open and close button styles */
.press {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.2);
    color: white; 
    border: 2px solid transparent; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
    font-family: 'Arial', sans-serif;
    text-align: center; 
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    text-transform: uppercase;
}

/* Cool hover effect */
.press:hover {
    background: rgba(255, 255, 255, 0.3); 
    border-color: rgba(255, 255, 255, 0.7); 
    transform: translateY(-4px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* bottom nav style*/
.sidenav .bottom-nav {
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
    margin: 8% 8% 8% 8%;
    font-family: "Playfair Display", serif;
}
